/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: url('principal.webp') no-repeat center center/cover; /* Imagen de fondo en el encabezado */
    color: white;
    text-align: center;
    padding: 250px 20px; /* Aumento de altura en el encabezado */
    top: 100px;
}


header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Navigation Styles */
nav {
    background: #36C9C6; /* Verde brillante para la barra de navegación */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0; /* Aumento en el padding para mayor altura */
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffa500;
}

/* Section Styles */
section {
    padding: 80px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    background-color: #1E7F78; /* Verde más oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

.cta {
    color: #ffa500;
    font-weight: bold;
    text-decoration: none;
}

.cta:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
video {
    width: 100%;  /* Ajusta el tamaño al 50% del ancho de su contenedor */
    height: auto; /* Mantiene las proporciones originales del video */
}


